// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centre,
.center {
  margin: 0 auto;
  text-align: center;
}

.cta-inner p {
  color: #fff;
}

.logo-link {
  border: 0;
}

.page-title-top {
  background-image: image-url('header-bg.jpg');
}

.testimonial-section {
  background-image: image-url('testimonials-section-bg.jpg');
  border-bottom: 0 !important;
}

.c-testimonial {
  footer {
    color: #fff;
  }
}

.home.index #core {
  padding-bottom: 0;
}

.form-errors-list {
  margin: 20px 0 0 10px;

  color: red;
}

blockquote {
  padding-left: 50px;
  margin-bottom: 20px;
  font-style: italic;
  display: inline-block;
  float: left;
  width: 100%;

  &:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    float: left;
    content: "\f10d";
    color: #ffb617;
  }
}
