#locale_modal {
  .language-button {
    margin-top: 40px;
  }

  .country-flag {
    margin-top: 20px;
  }
}


.nav-flag-link {

  .nav-flag {
    margin-top: 3px;
    height: 20px;
    border: 2px solid #ffb617;
  }
}
