.service-1 { background-image: image-url("service-electricity-th.jpg"); }
.service-2 { background-image: image-url("service-heating-th.jpg"); }
.service-3 { background-image: image-url("service-renovation-th.jpg"); }
.service-4 { background-image: image-url("service-painting-th.jpg"); }
.service-5 { background-image: image-url("service-sanitary-th.jpg"); }
.service-6 { background-image: image-url("service-roofing-th.jpg"); }
.service-7 { background-image: image-url("service-plumbing-th.jpg"); }
.service-8 { background-image: image-url("service-sewerage-th.jpg"); }
