<% language = I18n.locale == :en ? 'English' : 'French' %>

<div class="alert alert-info center language-reminder" role="alert">
  You are currently editing the <%= language %> version of the site.
</div>
