<div class="modal fade" id="learn_markdown" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Markdown</h4>
      </div>

      <div class="modal-body">

        <div class="catagory">
          <div class="col-lg-6">
            <h5 class="title">Input</h5>

            <p>Type what you see in this column in the text field...</p>
          </div>

          <div class="col-lg-6">
            <h5 class="title">Output</h5>

            <p>And this is the rendered output that users will see in the lesson sidebar...</p>
          </div>

          <div class="col-lg-6">
            <h5 class="title">Headers</h5>

<pre># Header 1<br>## Header 2<br>### Header 3<br>#### Header 4<br>##### Header 5<br>###### Header 6</pre>

          </div>
          <div class="col-lg-6">
            <h5 class="title">Result</h5>

            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <h5>Header 5</h5>
            <h6>Header 6</h6>
          </div>

          <div class="col-lg-12">
            <hr>
          </div>

          <div class="col-lg-6">
            <h5 class="title">Lists</h5>

            <p>Ensure all list items are indented the same amount.</p>

<pre>Unordered List:<br>- Item 1<br>- Item 2<br>- Item 3<br>  - Item 3a<br>  - Item 3b<br><br>Ordered List:<br>1. Item 1<br>2. Item 2<br>3. Item 3<br>  - Item 3a<br>  - Item 3b</pre>

          </div>
          <div class="col-lg-6">
            <h5 class="title">Result</h5>

            <p>Unordered List:</p>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>
                Item 3
                <ul>
                  <li>Item 3a</li>
                  <li>Item 3b</li>
                </ul>
              </li>
            </ul>

            <p>Ordered List:</p>
            <ol>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>
                Item 3
                <ul>
                  <li>Item 3a</li>
                  <li>Item 3b</li>
                </ul>
              </li>
            </ol>
          </div>

          <div class="col-lg-12">
            <hr>
          </div>

          <div class="col-lg-6">
            <h5 class="title">Styling Text</h5>

            <p><code>*</code> or <code>_</code> can be used, one character either side of the text will make it <em>italic</em>, two characters either side will make it <strong>bold</strong>.</p>

<pre>*This will be italic*<br>_So will this_<br>**This will be bold**<br>__and this...__<br><br>**They _can be_ combined**</pre>

          </div>
          <div class="col-lg-6">
            <h5 class="title">Result</h5>

            <p>
              <em>This will be italic</em><br>
              <em>So will this</em><br>
              <strong>This will be bold</strong><br>
              <strong>and this...</strong><br>
              <br>
              <strong>They <em>can be</em> combined</strong>
            </p>
          </div>

          <div class="col-lg-12">
            <hr>
          </div>

          <div class="col-lg-6">
            <h5 class="title">Image</h5>

<pre>![Alt text](/path/to/img.jpg "Optional title")</pre>
          </div>
          <div class="col-lg-6">
            <h5 class="title">Result</h5>

            <pre>&lt;img src="/path/to/img.jpg" alt="Alt text" title="Optional title" /&gt;</pre>
          </div>
        </div>

        <a href="http://daringfireball.net/projects/markdown/">View full Markdown Syntax Guide</a>
      </div>

    </div>
  </div>
</div>
